@using Microsoft.AspNet.Identity
@using Cv.Models;
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>What do you want to do here ?</h2>
<div class="container">
    <div class="UserForm">
        <ul class="list-group">
            <li><h4>Member Setup</h4></li>
            <hr />
            <li class="">@Html.ActionLink("Change Member information", "Show", "Member")</li>
            <br />
            <li><h4>Personal Information</h4></li>
            <hr />
            @{var dataSet = Session["Users"] as tbl_Member;
                CvEntities db = new CvEntities();
                var ucontrol = db.tbl_Userinfo.FirstOrDefault(c => c.fk_UserID == dataSet.UserID);

                if (ucontrol != null)
                {
                    <li class="">@Html.ActionLink("Show my own information", "Show", "Userinfo")</li>
                }
                else
                {
                    <li class="">@Html.ActionLink("Enter a new personal information", "Create", "Userinfo")</li>
                    }
                }
                <br />
                <li><h4>Education Information</h4></li>
                <hr />
             @{ 
                    var econtrol = db.tbl_Education.FirstOrDefault(c => c.fk_UserID == dataSet.UserID);
                    if (econtrol != null)
                    {
                <li class="">@Html.ActionLink("Show  my education info", "Show", "Education")</li>
                <li class="">@Html.ActionLink("Enter a new education information", "Create", "Education")</li>
                    }
                    else
                    {
                        <li class="">@Html.ActionLink("Enter a new education information", "Create", "Education")</li>
                    }
                }
            <br />
            <li><h4>Experiences</h4></li>
            <hr />
            @{
                var expcontrol = db.tbl_Experiences.FirstOrDefault(c => c.fk_UserID == dataSet.UserID);
                if (expcontrol != null)
                {
                    <li class="">@Html.ActionLink("Show  my work experiences info", "Show", "Experiences")</li>
                    <li class="">@Html.ActionLink("Enter a new experience information", "Create", "Experiences")</li>
                }
                else
                {
                    <li class="">@Html.ActionLink("Enter a new work experience information", "Create", "Experiences")</li>
                }
            }

            
        </ul>
    </div>
</div>