@model IEnumerable<Cv.Models.EducationModel>

@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Show</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SchoolName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishDate)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.tbl_Status.StatusName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinishDate)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.tbl_Status.StatusName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EducationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EducationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EducationID })
        </td>
    </tr>
}

</table>
