@model IEnumerable<Cv.Models.EducationModel>
@using Cv.Models;

@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Show</h2>

@if (Model != null)
{<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SchoolName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishDate)
            </th>

            <th>
                <b>Education Level</b>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SchoolName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinishDate)
                </td>

                <td>
                    @{switch (item.fk_StatusID)
                        {
                            case 1:
                                ViewBag.Status = "Primary";
                                break;
                            case 2:
                                ViewBag.Status = "High School";
                                break;
                            case 3:
                                ViewBag.Status = "Asociate";
                                break;
                            case 4:
                                ViewBag.Status = "Undergrade";
                                break;
                            case 5:
                                ViewBag.Status = "Master";
                                break;
                            case 6:
                                ViewBag.Status = "PostGrade";
                                break;
                            default:
                                ViewBag.Status = "Not Select";
                                break;
                        }
                    }
                    @ViewBag.Status

                </td>
                <td>
                    @*@Html.ActionLink("Edit","Edit", "Education", new { id = item.EducationID })*@
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.EducationID })*@

                    @*3 parametrede .ActionLink id almıyor o yüzden a tagı kullandık *@
                    <a href="@Url.Action("Edit", "Education", new { id = item.EducationID })">Edit | </a>
                    <a href="@Url.Action("Details", "Education", new { id = item.EducationID })">Delete</a>
                </td>
            </tr>
                        }

    </table> }
                        else
                        {
                            <p>
                                @Html.ActionLink("Create New", "Create")
                            </p>
                        }

