@using Microsoft.AspNet.Identity
@using Cv.Models;

@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>What do you want to do here ?</h2>
<div class="container">
    <div class="UserForm">
        <ul class="list-group">
            <li><h4>Personal Information</h4></li>
            <hr />
            <li class="">@Html.ActionLink("Show my own information", "Show", "Userinfo")</li>
            <li class="">@Html.ActionLink("Enter a new personal information", "Create", "Userinfo")</li>
            <li class="">@Html.ActionLink("Edit your personal info", "Edit", "Userinfo")</li>
            <li class="">@Html.ActionLink("Delete your personal info", "Delete", "Userinfo")</li>
            <br />
            <li><h4>Education Information</h4></li>
            <hr />
            <li class="">@Html.ActionLink("Enter an education information", "Create", "Education")</li>
            <li class="">@Html.ActionLink("Edit  your education info", "Edit", "Education")</li>
            <li class="">@Html.ActionLink("Delete your education info", "Delete", "Education")</li>
        </ul>
    </div>
</div>