@model Cv.Models.MemberModel

@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Show</h2>

<div>
    <h4>tbl_Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserSurname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserSurname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserEmail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit","Member", new { id = Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
